@font-face {
    font-family: 'Code Next Book';
    src: url('font/CodeNext-Trial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Code Next Book', sans-serif;
    background-color: #003044; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tinggi layar penuh */
}

.container {
    background-color: rgba(255, 255, 255, 0.1); /* Latar belakang transparan */
    border-radius: 15px; /* Sudut bulat */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Lebar maksimum kotak */
    width: 100%; /* Lebar 100% pada perangkat kecil */
    padding: 30px; /* Padding di dalam kotak */
}

h2 {
    text-align: center; /* Teks di tengah */
    color: white; /* Warna teks */
    margin-bottom: 25px; /* Jarak bawah dari judul */
    margin-top: 5px;
    font-weight: normal;
    font-size: 30px;
}

.input-container {
    position: relative; /* Agar label dapat diposisikan relatif terhadap input */
    margin-bottom: 20px; /* Jarak bawah antara input */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Lebar 100% */
    padding: 10px; /* Padding di dalam input */
    margin-bottom: 10px; /* Jarak bawah */
    border: 1px solid #ccc; /* Batas abu-abu */
    border-radius: 15px; /*  Sudut bulat */
    box-sizing: border-box; /* Menghitung padding dalam lebar */
    font-size: 16px; /* Ukuran font untuk input */
    transition: border-color 0.2s; /* Transisi untuk border saat fokus */
    background-color: rgba(0, 48, 68, 0.7); /* Latar belakang dengan opacity */
    color: white; /* Warna teks dalam input */
}

input:focus {
    border-color: #5cb85c; /* Warna border saat fokus */
}

label {
    position: absolute; /* Memposisikan label secara absolut */
    left: 10px; /* Jarak dari kiri input */
    top: 10px; /* Jarak dari atas input */
    color: #999; /* Warna label */
    transition: 0.2s; /* Transisi saat label bergerak */
    pointer-events: none; /* Agar tidak mengganggu interaksi dengan input */
}

/* Ganti warna label saat fokus dan tidak kosong */
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -20px; /* Posisi label saat input difokuskan atau ada teks */
    left: 10px; /* Menjaga label tetap di kiri */
    font-size: 12px; /* Ukuran font lebih kecil saat label mengapung */
    color: white; /* Warna label saat aktif */
}


button {
    width: 100%; /* Lebar 100% untuk tombol */
    padding: 10px; /* Padding di dalam tombol */
    background-color: #05df75; /* Warna hijau */
    border: none; /* Tanpa batas */
    border-radius: 15px; /* Sudut bulat */
    color: white; /* Warna teks putih */
    font-size: 16px; /* Ukuran font */
    cursor: pointer; /* Tangan ketika hover */
    margin-bottom: 10px; /* Jarak bawah untuk tombol */
}

button:hover {
    background-color: #4cae4c; /* Warna hijau lebih gelap saat hover */
}

.error {
    background-color: #f8d7da; /* Latar belakang merah muda untuk error */
    color: red; /* Warna teks error */
    padding: 10px; /* Padding di dalam div error */
    margin-top: 20px; /* Jarak atas */
    border: 1px solid #f5c6cb; /* Batas merah */
    border-radius: 5px; /* Sudut bulat */
}

p {
    text-align: center; /* Teks di tengah */
    margin-top: 20px; /* Jarak atas untuk paragraf */
    color: white;
}

a {
    text-decoration: none; /* Tanpa garis bawah */
    color: #05df75; 
}

a:hover {
    text-decoration: underline; /* Garis bawah saat hover */
}
